# Wallet Private Key (DO NOT SHARE!)
PRIVATE_KEY=

# Monad RPC URLs
MONAD_TESTNET_RPC=https://testnet-rpc.monad.xyz
MONAD_MAINNET_RPC=https://rpc.monad.xyz

# Block Explorer API Key
MONAD_EXPLORER_API_KEY=your_api_key_here
