# Wallet Private Key (DO NOT SHARE!)
PRIVATE_KEY=0xd7f2f5db350f46907e8241d31a8ded931e1bd5ca13e8b0dea9ad459178f8499d

# Monad RPC URLs
MONAD_TESTNET_RPC=https://testnet-rpc.monad.xyz
MONAD_MAINNET_RPC=https://rpc.monad.xyz

# Block Explorer API Key
MONAD_EXPLORER_API_KEY=your_api_key_here